$primary: #7c6ee6;
$secondary: #4b436a;

$success: #34c759;
$warning: #f59e0b;
$danger: #ef4444;

$white: #ffffff;
$black: #111827;

$body-color: #2f3142;
$muted-color: #7b7d92;

$light-bg: #f7f5ff;
$border-color: #ece8ff;

$primary-gradient: linear-gradient(
  135deg,
  #8d84cf 0%,
  #e98ade 100%
);

// Typography
$font-family: "Rubik", sans-serif;
$font-family-base: $font-family;
$font-family-sans-serif: $font-family;

// Buttons
$btn-border-radius: 12px;
$btn-border-radius-lg: 14px;

// Cards
$card-border-radius: 18px;
$card-bg: #ffffff;
$card-border-color: #ece8ff;

// Inputs
$input-border-radius: 12px;
$input-placeholder-color: $muted-color;
$input-focus-border-color: #8d84cf;
$input-focus-box-shadow: 0 0 0 0.2rem rgba(141, 132, 207, 0.15);


$input-border-radius: 12px;
$input-border-color: #ece8ff;
$input-focus-border-color: #8d84cf;
$input-focus-box-shadow: 0 0 0 0.2rem rgba(141, 132, 207, 0.15);

$tag-bg: #f2f0ff;
$tag-text: #6b5bd2;


$btn-primary-bg: #6b5bd2;
$btn-primary-hover: #5c4bc4;

